<!DOCTYPE html>
{% load static %}
{% load crispy_forms_tags %}

<html>
    <head>
        <style>

            body {
                background-color: lightgrey;
            }

            #Page-Div {
                margin: 2rem;
            }



            .Title {
                font-size: 6rem;
                border-top: black .25rem solid;
                text-align: center;
            }


            #da_picture {
                margin-top: 2rem;
                margin-left: 2rem;
            }


            #Main-Div {
                display: flex;
                flex-direction: row;
            }

            #Main-Buttons {
                margin: 4rem;
            }


            .Earthquake-Source {
                margin-left: 2rem;
                width: 40%;
                font-size: 1.5rem;
            }

            .Earthquake-Info-Div {
                display: flex;
            }

            .Earthquake-Info-Text {
                font-size: 2rem;
                width: 50%;
                text-indent: 3rem;
            }
            .Earthquake-Info-Img {
                height: auto;
                width: 50%;
                margin-left: 2rem;
            }

        </style>



    </head>

    <body>

        <div id="Page-Div">
            <div id="Main-Div">
                <img id="da_picture" src="{% static 'da_picture.png' %}">
                <div id="Main-Buttons">
                    <p>Select the date from when you want to see all the locations of earthquakes from around NC.</p>
                    <form method="post" action="">
                        {% csrf_token %}
                        {{MapForm|crispy}}
                        <input type="submit">
                    </form>
                </div>
            </div>
            
            <p class="Title">What are earthquakes?</p>
            <div class="Earthquake-Info-Div">
                <p class="Earthquake-Info-Text">An earthquake is the shaking of ground. When two mounds of ground slip past one another, often in areas where different tectonic plates collide, an earthquake begins. An earthquake can be divided into three parts - the foreshocks, the mainquake, and the aftershocks. Foreshocks precede the mainshock, giving some time for people to get ready for the mainshock, which, depending on the its strength, can cause you to fall over or buildings to collapse. Aftershocks come next, which are smaller quakes that happen days to years after the mainshock.</p>
                <img class="Earthquake-Info-Img" src="https://live-production.wcms.abc-cdn.net.au/b03f1945d8d9dc2fbee0685f0f8ef250?impolicy=wcms_crop_resize&cropH=1537&cropW=2303&xPos=104&yPos=0&width=862&height=575">
            </div>
            <p class="Earthquake-Source">To learn more about how earthquakes are formed, visit:
                Wald, Lisa. “The Science of Earthquakes” U.S. Geological Survey, 
                <a href="https://www.usgs.gov/programs/earthquake-hazards/science-earthquakes">https://www.usgs.gov/programs/earthquake-hazards/science-earthquakes</a>, Accessed 10 Feb. 2022.</p>

            <p class="Earthquake-Source">You can also visit:
                National Geographic Society. “Earthquakes.” National Geographic, 15 July 2021,
                <a href="https://www.nationalgeographic.org/encyclopedia/earthquakes/">https://www.nationalgeographic.org/encyclopedia/earthquakes/</a>
            </p>

            <p class="Title">How am I affected by earthquakes?</p>
            <div class="Earthquake-Info-Div">
                <p class="Earthquake-Info-Text">By living around Hickory, in the Piedmont, you will not face much danger from earthquakes.Many of the earthquakes near us happen in the Appalachian Mountains going through NC and Tennessee. However, large earthquakes elsewhere in the world can shake the ground and cause structural failures, can cause landslides, or rupture the surface, which causes damage to infrastructure. When a major earthquake happens in the sea, tsunamis can form, causing damage to coastal property.</p>
                <img class="Earthquake-Info-Img" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTUETyhNH526vUYQcENurT7XSJStIDuk7_vJc9oO2tHehhgA0HkIHejZ9MdJfT10gPxoKw:https://upload.wikimedia.org/wikipedia/commons/4/41/Seattle_-_Earthquake_damage_to_Cadillac_Hotel_2nd_Ave_S_in_Pioneer_Square%252C_2001.jpg&usqp=CAU">
            </div>
            <p class="Earthquake-Source">To learn more about how earthquakes can harm humans, visit:
                California Earthquake Authority. “Earthquake Damage, Danger & Destruction.” earthquakeauthority, 10 Aug. 2020
                <a href="https://www.earthquakeauthority.com/Blog/2020/How-Earthquakes-Cause-Damage-Destruction">https://www.earthquakeauthority.com/Blog/2020/How-Earthquakes-Cause-Damage-Destruction</a>
            </p>

            <p class="Title">Making A Map</p>
            <div class="Earthquake-Info-Div">
                <p class="Earthquake-Info-Text">Throughout this project, my goal has been to create a map that can display earthquake locations, and also allow some user input onto what the map displays. To do this, I created a system where every time a page was reloaded with user-inputted data, my program would first scrape earthquake data from usgs.gov, and then display that data on a map that I got from census.gov. Users can input data based on from what date they wanted to see the locations of earthquakes, so I also created some input boxes to get that user input. Overall, this project took a lot of reading, and then using what I read in my model. I did a large amount of what I wanted, and it allows people to know where they might be affected by earthquakes in their day to day lives, or just be suprised at the multitude of earthquakes happening all around them.</p>
                <img class="Earthquake-Info-Img" src="{% static 'usgs_map.png' %}">
            </div>
            <p class="Earthquake-Source">To learn more about scraping data, visit:
                Breuss, Martin. “Beautiful Soup: Build a Web Scraper With Python.” Real Python, Real Python, 10 Nov. 2021,	 
                <a href="realpython.com/beautiful-soup-web-scraper-python/">realpython.com/beautiful-soup-web-scraper-python/. </a>
            </p>
            <p class="Earthquake-Source">You can learn to interpret that data with:
                Raschka, Sebastian. “Scientific Computing in Python: Introduction to Numpy and Matplotlib.” sebastianraschka 27 Sep. 2020
                <a href="https://sebastianraschka.com/blog/2020/numpy-intro.html/">https://sebastianraschka.com/blog/2020/numpy-intro.html/</a>
            </p>

            <p class="Title">Strengths and Weaknesses</p>
            <div class="Earthquake-Info-Div"> <!-- How you would revise the model, strenghts of the model, and weaknesses of the model-->
                <p class="Earthquake-Info-Text">While I have had many months to work on my project, I only spent around a dozen or so hours on it. Despite this, my model has some strengths, such as how it is functional, can accurately display the earthquakes that have happened around North Carolina, and shows where Hickory is in to relation the state, allowing the audience to be more invested. However, some major weaknesses of my map are that the earthquakes shown are not differentiated by magnitude. On the map, a major earthquake will look just the same as an earthquake that nobody noticed. The project is also lacking more input controls, so the audience can only change when an earthquake happened, rather than other metrics such as magnitude or location.</p>

            </div>
            
        </div>

        
    </body>
</html>




